<h2 class="text-center my-5 section-title">Pricing</h2>

<div class="row row-cards">
  <div class="col-lg-4">
    <div class="card card-md">
      <div class="card-body text-center">
        <div class="text-uppercase text-secondary font-weight-medium">
          Open Source
        </div>
        <div class="display-6 fw-bold my-3">Free</div>
        <ul class="list-unstyled lh-lg">
          <li>Self-hosted, you host</li>
          <li>Unlimited open positions</li>
          <li>Unlimited candidate profiles</li>
          <li>Unlimited users</li>
          <li>Community support</li>
        </ul>
        <div class="text-center mt-4">
          <a href="https://github.com/freeats/freeats" class="btn w-100">
            Deploy now
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-md">
      <div class="ribbon ribbon-top ribbon-bookmark bg-red"></div>
      <div class="card-body text-center">
        <div class="text-uppercase text-secondary font-weight-medium">
          Cloud
        </div>
        <div class="my-3 display-6 fw-bold">
          <span class="currency">€</span>
          <span>1000</span>
        </div>
        <ul class="list-unstyled lh-lg">
          <li>Cloud-hosted, we host</li>
          <li>
            <strong>10</strong>
            open positions
          </li>
          <li>
            <strong>10,000</strong>
            candidate profiles
          </li>
          <li>Unlimited users</li>
          <li>7 day free trial</li>
        </ul>
        <div class="text-center mt-4">
          <a href="https://ats.toughbyte.com/register" class="btn btn-primary w-100">
            Start free trial
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-md">
      <div class="card-body text-center">
        <div class="text-uppercase text-secondary font-weight-medium">
          Premium
        </div>
        <div class="display-6 fw-bold my-3">Custom price</div>
        <ul class="list-unstyled lh-lg">
          <li>Cloud or self-hosted</li>
          <li>Unlimited open positions</li>
          <li>Unlimited candidate profiles</li>
          <li>Unlimited users</li>
          <li><strong>Support &amp; customization</strong></li>
        </ul>
        <div class="text-center mt-4">
          <a href="mailto:hello@freeats.com" class="btn w-100">Talk to us</a>
        </div>
      </div>
    </div>
  </div>
</div>
