<h2 class="text-center my-5 section-title">References</h2>

<div class="row">
  {% for reference in site.data.references %}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-auto">
            <img src="{{ reference.icon }}" alt="{{ reference.name }}" class="avatar avatar-md">
          </div>
          <div class="col">
            <div class="h3 m-0">{{ reference.name }}</div>
            <div class="text-secondary">{{ reference.role }}</div>
          </div>
        </div>
        <p>{{ reference.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
