---
layout: default
title: Blog
---

<div class="container py-4">
  <div class="mb-4 text-center display-6">Blog</div>

  <div class="row row-cards">
    {% for post in site.posts %}
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <a href="{{ post.url }}" class="text-reset">{{ post.title }}</a>
          </h3>
          <p class="text-muted">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
          {% if post.description %}
          <p>{{ post.description }}</p>
          {% endif %}
          <a href="{{ post.url }}" class="text-primary text-decoration-none">Read more →</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
