---
layout: default
title: Blog
pagination:
  enabled: true
  collection: posts
  per_page: 2
---

<div class="container py-4">
  <div class="mb-4 text-center display-6">Blog</div>

  <div class="row row-cards mb-4">
    {% for post in paginator.posts %}
    <div class="col-12">
      <a href="{{ post.url }}" class="text-decoration-none text-reset">
        <div class="card">
          <div class="row row-0">
            <div class="col-3 order-last">
              <img src="{{ post.cover }}" class="w-100 h-100 object-cover card-img-end">
            </div>
            <div class="col">
              <div class="card-body d-flex flex-column card-preview">
                <h3 class="display-6">{{ post.title }}</h3>
                <div class="mb-2 text-secondary text-truncate flex-grow-1">{{ post.content }}</div>

                <div class="row flex-shrink-0">
                  <div class="col-auto">
                    <img src="{{ post.avatar }}" alt="{{ post.author }}" class="avatar avatar-md">
                  </div>
                  <div class="col">
                    <div class="h3 m-0">{{ post.author }}</div>
                    <div class="text-secondary">{{ post.date | date: "%B %-d, %Y" }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% include pagination/paginator.html route='blog' %}
</div>
