{% if paginator.total_pages > 1 %}
<div class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item">
      {% if paginator.previous_page %}
      <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&lt;</a>
      {% else %}
      <span class="page-link disabled">&lt;</span>
      {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li class="page-item active">
        <span class="page-link">{{ page }}</span>
      </li>
      {% else %}
        <li class="page-item">
          {% if page == 1 %}
            {% assign href = include.route | relative_url %}
          {% else %}
            {% assign href = include.route | prepend: '/' | append: site.pagination.permalink | replace: ':num', page %}
          {% endif %}
          <a class="page-link" href="{{ href }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="page-item">
      {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">></a>
      {% else %}
      <span class="page-link disabled">></span>
      {% endif %}
    </li>
  </ul>
</div>
{% endif %}
